/* index.css or App.css */

/* Basic Styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3 {
    font-family: 'Helvetica Neue';
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Button Styles */
.btn,
.btn-dark,
.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:focus + .btn,
.btn:focus {
    border: none;
    box-shadow: none;
}

.btn-dark:hover {
    background: #212529;
}

.bg-primary,
.btn-light {
    letter-spacing: 0.7px;
}

/* Custom Styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #646464;
}

.progress-bar {
    background-color: #60d600;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.btn-light {
    background-color: #f8f9fa;
    color: #000;
}

.btn-dark {
    background-color: #343a40;
}

.text-warning {
    color: #ffc107 !important;
}

/* Optional additional styling */
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
